@model OnlineLibrarySystem_v1.Models.ViewModels.BookViewModel

@{
	ViewData["Title"] = "Books";
}

<div class="container-fluid">

	@if (ViewData["Username"] != null && ViewData["Role"].Equals("admin"))
	{
		<!-- Add Book Button (admin only) -->
		<div class="row my-3 justify-content-end">
			<a class="btn btn-outline-primary col-12 col-md-4 col-lg-2" asp-controller="books" asp-action="create">
				<i class="bi bi-plus"></i> Add Book
			</a>
		</div>
	}

	<!-- List of Books -->
	<div class="row row-cols-1 row-cols-md-3 g-3">
		@foreach (var book in Model.Books)
		{
			<div class="col">
				<a class="card h-100 text-decoration-none text-dark" asp-controller="books" asp-action="details" asp-route-id="@book.Id">
					<img src="https://placehold.co/600x400" class="card-img-top" alt="book image">
					<div class="card-body">
						<h5 class="card-title">@book.Title</h5>
						<p class="card-text">
							by <strong>@book.Author</strong><br />
							@book.TruncatedDescription
						</p>
					</div>
				</a>
			</div>
		}
	</div>
</div>