@model OnlineLibrarySystem_v1.Models.ViewModels.ProfileViewModel

@{
	ViewData["Title"] = "Admin Dashboard";
}

<div class="container py-3">

	<div class="row mb-5 d-flex align-items-stretch">
		<!-- Admin Info Section -->
		<div class="col-md-4 d-flex">
			<div class="card flex-grow-1">
				<div class="card-header">
					Admin Information
				</div>

				<div class="card-body">
					<div class="mb-3">
						<label class="text-muted">Username</label>
						<p class="lead mb-2">Admin Username</p>
					</div>

					<div class="mb-3">
						<label class="text-muted">Email</label>
						<p class="lead mb-2">Admin Email</p>
					</div>

					<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit-profile-modal">
						Edit Profile
					</button>
				</div>
			</div>
		</div>

		<!-- Statistics Card -->
		<div class="col-md-8 d-flex">
			<div class="card flex-grow-1">
				<div class="card-header">
					Library Statistics
				</div>

				<div class="card-body d-flex align-items-center">
					<div class="w-100">
						<div class="row justify-content-between">
							<div class="col text-center mb-3">
								<h6 class="text-muted">Total Users</h6>
								<h2>999</h2>
							</div>

							<div class="col text-center mb-3">
								<h6 class="text-muted">Total Books</h6>
								<h2>999</h2>
							</div>

							<div class="col text-center mb-3">
								<h6 class="text-muted">Currently Borrowed</h6>
								<h2>999</h2>
							</div>

							<div class="col text-center mb-3">
								<h6 class="text-muted">Categories</h6>
								<h2>999</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<!-- Edit Profile Modal -->
<div class="modal fade" id="edit-profile-modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<form asp-controller="Profile" asp-action="EditAdminInfo">
				<!-- Modal Header-->
				<div class="modal-header">
					<h5 class="modal-title">Edit Admin Info</h5>
					<button class="btn-close" type="button" data-bs-dismiss="modal"></button>
				</div>

				<!-- Modal Body -->
				<div class="modal-body">
					<div class="mb-3">
						<label class="form-label">Username</label>
						<input
							class="form-control"
							type="text"
							value="@Model.User.Username"
							disabled
							readonly
						/>
					</div>

					<div class="mb-3">
						<label class="form-label">Email</label>
						<input
							class="form-control" 
							type="email" 
							value="@Model.User.Email" 
							disabled
							readonly
						/>
					</div>

					<div class="mb-3">
						<label asp-for="OldPassword" class="form-label"></label>
						<input asp-for="OldPassword" class="form-control" type="password" />
						<span asp-validation-for="OldPassword" class="text-danger"></span>
					</div>

					<div class="mb-3">
						<label asp-for="NewPassword" class="form-label"></label>
						<input asp-for="NewPassword" class="form-control" type="password" />
						<span asp-validation-for="NewPassword" class="text-danger"></span>
					</div>

					<div class="mb-3">
						<label asp-for="ConfirmNewPassword" class="form-label"></label>
						<input asp-for="ConfirmNewPassword" class="form-control" type="password" />
						<span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
					</div>
				</div>

				<!-- Modal Footer -->
				<div class="modal-footer">
					<button class="btn btn-primary" type="submit">Save Changes</button>
					<button class="btn btn-outline-secondary" type="button" data-bs-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>

@section Scripts
{
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}


}